.hero {
  background: linear-gradient(to right, $main, $secondary);
  color: $text-inverse;
  padding-top: 4em;
  padding-bottom: 4em;
  text-align: center;

  @media (min-width: 725px) {
    text-align: left;
    padding-bottom: 0;
    img {
      transform: translateY(70px);
    }
    // height: 80vmin;
    // min-height: 800px;
  }
}

.hero-text {
  @media (min-width: 725px) {
    margin-top: 10vmax;
  }
}
